body {
    background-color: #CCCCCC;
}

.message-box {
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-color: #008CBA;
    border-width: 1px;
    padding: 10px;
    width: 300px;
    margin: 20px;
}

.entering-animation {
    animation: bounce-in 0.5s ease-out;
}

.send-button {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #008CBA;
    border-style: none;
}

.form-container {
    width: 300px;
    margin: 20px;
    text-align: center;
}

.form-container * {
    margin: 5px;
}

.message-input {
    width: 300px;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


